.avatar-1BDn8e + h2 > .username-1A8OIy::after {
  display: inline-block;
  height: 14px;
  width: 14px;
  line-height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('');
  position: relative;
  top: 2px;
  margin-left: 5px;
}
.avatar-1BDn8e + h2 > .username-1A8OIy:hover::after {
  width: auto;
  border-radius: 4px;
  padding: 2px 5px;
  background-image: none!important;
  background-color: #0d0d0d;
  color: #fff;
  font-size: 12px;
  top: -1px;
  font-weight: normal;
  animation-timing-function: linear;
  transition: 
    color .2s ease,
    background-color .2s ease;
}

    @keyframes rainbow {
      from{filter: hue-rotate(0deg)}
      to{filter: hue-rotate(360deg);}
    }
    @keyframes scaleIn {
      from{transform: scale(.1);}
      to{transform: scale(1);}
    }
    @keyframes fadeIn {
      from{opacity: 0;}
      to{opacity: 1;}
    }


  /*==| Staff |==*/
    /*arch*/
	.avatar-1BDn8e[src*="718090646883270678"] + h2 > .username-1A8OIy {content: "";
      background-image: url('https://media.discordapp.net/attachments/716761472717553664/717762332792455178/sparkle_red.gif');
	  text-shadow: 0px 0px 2px #ff0000;
	  background-size: cover;}
    .avatar-1BDn8e[src*="718090646883270678"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('https://cdn.discordapp.com/attachments/720515673306038313/720534537142272020/4zoom_out.png');}
    .avatar-1BDn8e[src*="718090646883270678"] + h2 > .username-1A8OIy:hover::after {
      content: "Owner";
      animation: fadeIn .4s linear 1;
			color: #0088FF;
			width: 40px;
			text-align: center;
			background-color: transparent;
			background-image: url('https://cdn.discordapp.com/attachments/492474173978050587/723278397215866950/2.gif') !important;
    }
    /*mustafa*/
	.avatar-1BDn8e[src*="360475328898138115"] + h2 > .username-1A8OIy {content: "";
      background-image: url('https://media.discordapp.net/attachments/718558397481615462/719045444671635456/sparkle_red.gif');
	  text-shadow: 0px 0px 2px #ff0000;
	  background-size: cover;}
    .avatar-1BDn8e[src*="360475328898138115"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('https://cdn.discordapp.com/attachments/720515673306038313/720534537142272020/4zoom_out.png');}
    .avatar-1BDn8e[src*="360475328898138115"] + h2 > .username-1A8OIy:hover::after {
      content: "Developer";
      animation: fadeIn .4s linear 1;
			color: #f37eb2;
			width: 65px;
			text-align: center;
			background-color: transparent;
			background-image: url('https://cdn.discordapp.com/attachments/492474173978050587/723278397215866950/2.gif') !important;
    }

  /*==|CUSTOM BADGES|==*/
    /*LegendiFX*/
	.avatar-1BDn8e[src*="441309912308645889"] + h2 > .username-1A8OIy {content: "";
	  background-image: url('https://media.discordapp.net/attachments/718558397481615462/719045444671635456/sparkle_red.gif');
	  text-shadow: 0px 0px 2px #ff0000;
	  background-size: cover;}
    .avatar-1BDn8e[src*="441309912308645889"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('https://cdn.discordapp.com/attachments/720515673306038313/720534537142272020/4zoom_out.png');}
    .avatar-1BDn8e[src*="441309912308645889"] + h2 > .username-1A8OIy:hover::after {
      content: "Designer";
      background-image: url('https://media3.giphy.com/media/TK4aDaZrcPvFKnn7cE/giphy.gif') !important;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      animation: fadeIn .4s linear 1;
      letter-spacing: 0px;
    }
    /* yura */
    .avatar-1BDn8e[src*="517447785491070987"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('https://cdn.discordapp.com/attachments/706165692608806933/708809414437634089/YinYangCats.gif');}
    .avatar-1BDn8e[src*="517447785491070987"] + h2 > .username-1A8OIy:hover::after {
      content: "Cutie";
      background-color: #fa73ff;
      color: #fff;
      animation: scaleIn .2s linear 1;
    }
    /* Nooody */
    .avatar-1BDn8e[src*="206167460997496836"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('https://codedotspectra.github.io/themes/badges/diamond.svg');}
    .avatar-1BDn8e[src*="206167460997496836"] + h2 > .username-1A8OIy:hover::after {
      content: "Best sysadmin ever";
      animation: scaleIn .2s linear 1;
      background-color: #99ccff;
      color: #fff;
    }
    /* vanillaspace */
    .avatar-1BDn8e[src*="227648235097817089"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('https://cdn.discordapp.com/emojis/705612765561094174.png');}
    .avatar-1BDn8e[src*="227648235097817089"] + h2 > .username-1A8OIy:hover::after {
      content: "5 Star Trader";
      color: white;
      animation: scaleIn .2s linear 1;
      background-color: #2eb82e;
    }
    /* Anthony Decoux */
    .avatar-1BDn8e[src*="344137897492086804"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('http://adx74.fr/assets/img/ad_logo.svg');}
    .avatar-1BDn8e[src*="344137897492086804"] + h2 > .username-1A8OIy:hover::after {
      content: "adx74.fr";
      animation: scaleIn .2s linear 1;
    }
    /* Chewboko */
    .avatar-1BDn8e[src*="239506110363467797"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('https://i.imgur.com/n4CLusQ.png');}
    .avatar-1BDn8e[src*="239506110363467797"] + h2 > .username-1A8OIy:hover::after {
      content: "Chewy";
      color: white;
      background-color: #b300cc;
      animation: scaleIn .2s linear 1;
    }
    /* ウィザード */
    .avatar-1BDn8e[src*="285569855506219018"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('https://cdn.discordapp.com/emojis/398885947204173824.png?v=1');}
    .avatar-1BDn8e[src*="285569855506219018"] + h2 > .username-1A8OIy:hover::after {
      content: "Certified Weeb";
      animation: scaleIn .2s linear 1;
    }
    /* Board™ */
    .avatar-1BDn8e[src*="285475344817848320"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('https://codedotspectra.github.io/themes/badges/diamond.svg');}
    .avatar-1BDn8e[src*="285475344817848320"] + h2 > .username-1A8OIy:hover::after {
      content: "The One and only Board";
      animation: scaleIn .2s linear 1;
    }
    /* TechieC */
    .avatar-1BDn8e[src*="492077614404730903"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('https://cdn.discordapp.com/attachments/703240281155436554/708721981280878682/e-logo-glitched.gif');			
      border-radius: 5px;}
    .avatar-1BDn8e[src*="492077614404730903"] + h2 > .username-1A8OIy:hover::after {
      content: "CodedotSpectra Help Team";
      animation: scaleIn .2s linear 1;
    }

    /* Azael */
    .avatar-1BDn8e[src*="323030822267518977"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('https://cdn.discordapp.com/attachments/697502924837748818/723255763228688465/0dd78ced986cdeaafffcbea04389b75a.png');			
      border-radius: 5px;}
    .avatar-1BDn8e[src*="323030822267518977"] + h2 > .username-1A8OIy:hover::after {
      content: "Vanilla";
      color: #fff;
      text-shadow: 0px 0px 5px #000;
      animation: scaleIn .2s linear 1;
      background-color: transparent;
      background-image: linear-gradient(to right, #2193b0, #6dd5ed) !important;
    }

    /* Akashii */
    .avatar-1BDn8e[src*="495604921534775306"] + h2 > .username-1A8OIy::after {content: "";
      background-image: url('https://cdn.discordapp.com/emojis/275211491274260480.png');			
      border-radius: 5px;}
    .avatar-1BDn8e[src*="495604921534775306"] + h2 > .username-1A8OIy:hover::after {
      content: "Chocola";
      animation: scaleIn .2s linear 1;
      background-color: #ff0066;
    }
